* {
  outline: none;
}

.downloadIcon {
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  top: 29%;
  right: 42%;
  opacity: 0;
  transition-property: opacity, right;
  transition-duration: .4s;
  transition-timing-function: ease-out;
}

.downloadBtn {
  &:hover .downloadIcon {
    right: .7em;
    opacity: 1;
  }
  position: relative;
  padding: .7em 3em;
  background-color: rgb(77, 114, 146);
  font-size: .8em;
  border-radius: .4em;
  color: white;
  font-weight: bold;
  opacity: 1;
  transition-property: opacity, background, box-shadow;
  transition-duration: .4s;
  transition-delay: .2s, .3s, 0s;
}

.downloadBtn:hover {
  background: rgba(74, 137, 202, 1);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .7);
  cursor: pointer;
}
.container {
  padding: 20px;
}

.slides {
  .overlay, .img {
    transition: transform .6s ease-out;
  }
  .overlay {
    transform: translateX(-100%);
  }
  &:hover .overlay {
    transform: translateX(0);
  }
  &:hover .img {
    transform: translateX(100%);
  }
}

.imgArea {
  @media screen and (min-width: 1000px) {
    font-size: 25px;
  }
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 50px;
  position: relative;
  width: 50%;
  min-width: 350px;
  font-size: 16px;
  h4 {
    font-size: 1.13em;
  }
  .overlay {
    &:hover {
      .downloadBtn {
        opacity: 1;
      }
    }
    background-color: darkolivegreen;
    color: #efffff;
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      padding: .8em 1.8em;
      font-size: .85em;
    }
  }
}

.img {
  display: block;
  width: 100%;
}

.cubicBezier {
  transition: transform .3s cubic-bezier(.48,-0.44,.61,1.49);
  &:hover {
    transform: rotate(-5deg) scale(1.1);
  }
}